.wrapper
  - const upDog = dog.toUpperCase();
  p.hello Helloo my dogs name is #{dog}
  p.hello  #{dog.toUpperCase()};
  span#yo Yo!!
  img.dog(src="dog.jpg" alt=`${upDog}`)

h2
  | Hello
  em How are you?