$black: #303030;
$width: 800px;
$purple: #27216b;
$yellow: #ffc40e;
$pink: rgb(206, 37, 178);
$green: rgb(10, 206, 10);
$red: rgb(141, 11, 20);
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
$grad: linear-gradient(90deg, #ffc40e 0%, #db110b 100%);
$verticalGrad: linear-gradient(0, #ffc40e 0%, #db110b 100%);
$fontDisplay: "Anton", sans-serif;
$fontMain: "Roboto", sans-serif;
